@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Roboto";
        src: local('Roboto'), url(../public/RobotoMono-VariableFont_wght.ttf) format('ttf')
      }
}

@layer components {
    .search-input {
      @apply w-60 mb-5 block;
    }
  }
  
  @layer utilities {
    .grayed-out-disabled {
      @apply disabled:opacity-50;
    }
    .loader {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
    }
    
    .loader-inner {
      font-size: 48px;
      animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    
  }

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination-item {
  display: inline-block;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.pagination-item:hover {
  background-color: #f2f2f2;
}

.active {
  background-color: #4a90e2;
  color: white;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}





