@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Roboto";
        src: local('Roboto'), url(../public/RobotoMono-VariableFont_wght.ttf) format('ttf')
      }
}

@layer components {
    .search-input {
      @apply w-60 mb-5 block;
    }
  }
  
  @layer utilities {
    .grayed-out-disabled {
      @apply disabled:opacity-50;
    }
  }

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
