@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Roboto";
        src: local('Roboto'), url(../public/RobotoMono-VariableFont_wght.ttf) format('ttf')
      }
}

@layer components {
    .search-input {
      @apply w-60 mb-5 block;
    }
  }
  
  @layer utilities {
    .grayed-out-disabled {
      @apply disabled:opacity-50;
    }
    .loader {
        display: inline-block;
        width: 50px;
        height: 50px;
        border: 4px solid #f3f3f3;
        border-top: 4px solid #3498db;
        border-radius: 50%;
        animation: spin 1s linear infinite;
        margin: 0 auto;
    }
    @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
  }

html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
